/*
http://paletton.com/#uid=72N150klNmG63T1exvbtWd5Jn3k
http://paletton.com/#uid=72N0X0klNmG63T1exvbtWd5Jn3k
http://paletton.com/#uid=72N1T0klNmG63T1exvbtWd5Jn3k
*/


body {

    /*font-family: Georgia, "DejaVu Serif", Norasi, serif;*/
    /*font-family: "avenir light";*/
     /*ccfd: font-family: Arial,​"Helvetica Neue",​Helvetica,​"sans-serif";*/
   

	/*font-family:    "Trebuchet MS",Helvetica,Arial,sans-serif; */


	/* polices a empattements */
	/*font-family: "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;*/
	/*font-family: Georgia, "DejaVu Serif", Norasi, serif;*/

	/* polices SANS empattement */
	/*font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;*/
	/*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
	/*font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;*/
	/*font-family: Tahoma, Geneva, Kalimati, sans-serif;*/
	/*font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;*/
	/*font-family: Impact, "Arial Black", sans-serif;*/

	/* chasse fixe*/
	/*font-family: "Courier New", Courier, "Liberation Mono", monospace;*/
	/*font-family: Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;*/

	background-color: #F8F8F8;
	color: #606060;
	margin: 0;
	font-family: Arial, "sans-serif";

	#display:flex;
	#flex-direction: column;
    #min-height: 100vh;
}

@media handheld
{
    body
    {
        font-size: 1em;
    }
}


h2 {
/*font-family:"courier new",Georgia, "DejaVu Serif", Norasi, serif;*/
/*border-bottom:solid 1px ;*/
border-left:solid 5px ;
border-top: solid 1px #BBBBBB;
#color: #404070;
#color:  #404060;
border-color:#404060;
#font-family:monospace;
color: rgb(95,68,96);
margin: 40px 0px 40px -10px/*todo: degueu*/;
/*display:inline;*/
padding:10px 15px 10px 15px;
background: linear-gradient(to right, rgba(236,236,239,1),  rgba(236,236,239,0));
#background-color: #F8F8F8;

}

h2 {
    #font-family:  "Trebuchet MS";
    #border-radius: 20px 0 0 4px;
    font-family:  monospace;
    font-size:2em;
    border-top: solid 1px #BBBBBB;

}

h1 {
    border-left: solid 5px rgba(24,24,36,1);
    border-top: solid 1px  rgba(24,24,36,1);

	#font-family: helvetica;
	font-family: monospace;
	text-transform:uppercase;
	font-size:2.5em;
	padding: 12px;

	#background-color: #404060;
	#background: linear-gradient(to left, rgba(64,64,96,1),  rgba(48,48,72,1));
	background: linear-gradient(to left, rgba(64,64,96,1),  rgba(64,64,96,1));
	color:white;
	text-shadow:1px 1px black;
/*font-family:"Courier new";*/
/*border-top:solid 5px black ;/*
/*border-left:solid 3px black ;*/
#display:inline;

padding-left: 30px;
margin:-10px;/*todo: merger les padding*/
margin-bottom:40px;
padding-bottom:10px;

overflow:hidden;
border-radius: 20px 4px 4px 4px;

}

.wrapper {
    #display:flex;
    #flex:1 1 0;
    #flex-direction:row;
    #flex-wrap: wrap;
}





header {
    background-color: white;
    #border-bottom: solid 1px #f0f0f0;
    #border-bottom: solid 1px #BBBBBB;
    #box-shadow: 1px 1px 1px #BBBBBB;
    font-size:2em;
    padding:10px;
    height: 50px;
    #border-bottom: 3px solid #eee;
/*    position:fixed;
    top:0;*/
   /* width:100%;*/
    z-index:-1;
}
.temp1 {
    color: #b2393f;
}
.temp2 {
	color: #323f7b;
}
.temp3 {
	color: #39942F;
}
.temp4 {
    color: #666;
}

p {
    text-align: justify;
    line-height: 1.6em;
    margin-top : 25px;
    margin-bottom : 25px;
}



h1, h2 {
	#font-family: "Myriad Pro";
    #border-radius: 0 7px 7px 0px;

}

.compl {
    height: 100%;
}

.nbbTop{
    display: inline-block;
    padding: 20px 10px;
}
.nbbTop:hover{
    border-bottom: 5px solid;
    #border-top:2px solid #AAA;
    padding-bottom:15px;
    #padding-top:18px;
}

.nbbLeft{
    padding: 10px 40px 10px 25px;
     color: #eeeeee;
}
.nbbLeft:hover {
    border-left: 5px solid  white;
    padding-left: 20px;
    #text-shadow: 1px 1px black;
}
.navBarButton {
    #font-family: arial;
    font-family: Ubuntu,Helvetica,Arial,sans-serif;

    font-size: 1em;
    font-weight: bold;
    #background-color: #323f7b;

    #color: #eeeeee;
    #color: white;
    #color: inherit;
    #color: #404060;

    #opacity:0.5;
}


navLeft:hover .navBarButton{
    color: #eeeeee;
    opacity:1;
}
navLeft:hover .navBarButton:hover{
    color: white;
}

/*table {
	border-collapse: collapse;
} 

td {
	margin:0;
	padding:0;
	font-size: inherit;
	#border: 1px solid red;
}*/

difv {
	border: solid 1px;
	margin:-1px;
	border-color: yellow;
}

.alternativeTitle:after {
    #content: ':'
}

.alternativeTitle{
    display:inline-block;
    padding:8px 10px;
    font-size: 1.3em;
    #font-variant-caps: small-caps;
    #text-transform:capitalize;
    text-transform:capitalize;
    #color: black;
    #font-variant:underline;
    #text-decoration:underline;
    font-family:,"Liberation Sans Narrow",monospace,Arial,sans-serif;
    color : #446040;
    font-weight:bold;
}

.theyDidIt {
    font-size: 0.8em;
    color: #888;
}

.description {
    display:block;
    padding: 0 10px;
    font-size: 0.9em;
    color: #888;
}

.productName{
    font-size:1.3em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace,arial,sans-serif;
}

.backgroundGradient{
    background: linear-gradient(135deg,rgba(255,255,255,.25),rgba(255,255,255,0)75%);
}

.wordWrap {
	word-wrap: break-word;
}

.habitImpact {
    #border: 1px solid #BBBBBB;
    margin-top: -1px;
    padding:15px 0px 15px 25px;
    background-color:#ECECEF;
    margin-bottom:15px;
    border-bottom: 7px solid #B3B3B5;
}

.habitTitle{
    color: rgb(95, 68, 96);
    font-size:1em;
    margin-bottom: 10px;
    padding:12px 10px 17px 10px;
}

.buttons {
	display: float;
	position:absolute;
	top:0px;
	right:0px;
	margin:0.5em;
	text-align:right;
}
.colorOnHoverContainer:hover .buttons {
	display:inherit;
}

.buttonsAlternative {
	display: none;
	#display:inline-block;

	position:absolute;
	right:0px;
	margin:2px 10px;
	background-color: inherit;

}

.admin{
    font-size:0.6em;
    color:red;
}

.whiteLine:hover .buttonsAlternative{
    display: inline-block;
}

.alignCenter{
    text-align: center;
}
.centeredBlock{
    width:1000px;
    display: inline-block;
    text-align: left;
}


.contentSection {
	margin:14px ;
/*	width:80%;*/
	background-color: white;
   	padding: 45px;
	#box-shadow: 2px 2px 2px #ECECEC;
	box-shadow: 2px 2px 2px #BBBBBB;
	border: solid 1px;
	#border-color: #ECECEC;
	border-color: #BBBBBB;
    #border-radius: 4px;
    border-radius: 20px 4px 4px 4px;
}





.box { 
	#border: solid 1px;
	#border-radius: 7px;
	border-bottom: solid 1px #b3b3b5;
    border-left: solid 4px #b3b3b5;
}

.softBox , .borderedBox {
	border: solid 0px;
	#border-top-width: 1px;
	border-bottom-width: 1px;
	padding-top: 0px;
	padding-bottom: 7px;
	margin: -1px;
}



.impactVia {
	display:inline;	
}

.respEmpty {
	border:solid 1px black;
	display: inline-block;
	height:2px;
	width: 350px
}


.mainImpactCont {
    margin-left: -8px
}

.arrowAltern{
    display:inline-block;
}
.arrowAlternTriangle{
	width: 25px;
	height:100%;
	display: inline-block;
	margin-left:30px;

}

.proposedBy {
    color: #AAA;
    font-size: 0.8em;
}

.arrowAlternTriangle img{
    dheight:100%;
    dwidth:100%;
    transform: scale(0.5, 0.5);
}

.altLeftArrow {
     height:90px;
     background-color:#404060
}



.mainAlternative {
    border : 1px solid black;
}

.mainImpactBox {
	#display:inline-block;
	#width:300px;
	flex:  1 0 350px;
	overflow:hidden;
	margin-bottom: 20px;
    margin-left: 8px;
}

.alternativesNotesFlexSize{
    flex: 0 0 75px ;
    overflow:hidden;
}

.height1{
    #height: 200px;
}

.padding1 {
    padding: 10px;
}

.border1 {
    border-left: 1px solid #BBBBBB;
}

.colorOnHoverContainer {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0.5em 1em;
	margin-left: 1px;
	margin-right:  1px;
}

.colorOnHoverContainer:hover {
	background-color: #F8F8F8;
	color: rgba(128,128,128,1);
	#border-radius:3px;
	border-color: #ececec;
	border-left:solid 1px #ececec; 
	border-right:solid 1px #ececec;
}

/*.discreteContent {
	color:  rgba(0,0,0,0);
	border-color: inherit;
}
.discreteContent:hover {
	color: inherit;
}*/

.verticalAlignMiddle{
    vertical-align:middle;
}

.inlineBlockMiddle  {
	display: inline-block;
	vertical-align: middle;
}

.inlineBlockTop  {
	display: inline-block;
	vertical-align: top;
}

.inlineMiddle  {
	display: inline;
	vertical-align: middle;
}

.inlineTop  {
	display: inline;
	vertical-align: top;
}

.whiteLine{
	border-style: solid;
	border-width: 1px 2px;
	padding: 0px 7px;
	margin-bottom: -1px;
	margin-left: 2px;
	#margin-right: 1em;
	width:auto;
	border-color: #E0E0E0;
	position:relative;
	overflow:hidden;
}

.source {
    white-space: nowrap;
}

.alternative {
    color:black;


	/*display: none;*/
}
.alternative:hover {
	background-color: #f0f0f0;
	border-color: rgba(128,128,128,1);
	z-index: 30;
}

.color1 {
    #background-color:rgba(248,248,248,1);
    background-color:#ececef;
}

.color2 {
    background-color: white;
}

.alternativeToMainImpact {
	#border-color: #E0E0E0;
	background-color:white;
	padding:20px;
}

.alternativeToMainImpact:hover {
	border-color: rgba(128,128,128,1);
}
/*
.mainImpactContent {
    border: solid 1px #BBBBBB;
}

.mainImpact:hover, .specificImpact:hover{
	height: auto;
}

.mainImpactContent, .alternativeToMainImpactContent, .specificImpactContent {
	min-width: 400px;
	overflow: hidden;

}
*/

/*.respMinWidth {
	#min-width: auto;
	#width: auto;
	display: inline;
	vertical-align: top;
}
*/


/*.alternativeToMainImpact{
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	display: inline-block;
}*/
/*.alternativeToMainImpact{
	overflow: hidden;
	height: 0px;
	padding: 0px;
	margin: 0px;
}*/
.mainImpact:hover .alternativeToMainImpact{
	height:auto;
	margin: 7px;
}

.impact{}
.impactContestation {
	margin-left: 50px;
}



.medaillon.color1 {
	background-color: #B2393F;
	border-color: #66070B;	
}

.medaillonWithText {
	font-family: "Myriad Pro";
	#font-family: Georgia, "DejaVu Serif", Norasi, serif;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	line-height: 1em;
	#text-shadow: 1px 1px #000000;
}

.puce {
	margin-top: 0.5em;
}

/*.plusOrMinus {
	#vertical-align: top; 
	#display: inline-block;
}*/

/*.plusOrMinus .ttop{
	font-size:0.6em; 
	line-height: 1.1em;
}
.plusOrMinus .tbottom{
	font-size:1.2em; 
	line-height: 1.2em;
}*/

/*	.plus {
		background-color: #B2393F;
		border-color: #66070B;
		#box-shadow: 2px 2px 2px #66070B ;
	}

	.minus {
		background-color: #323F7B;
		border-color: #0D1747;
		#box-shadow: 2px 2px 2px #0D1747 ;
	}
*/



a {
    color:inherit;
    text-decoration: none;
}
.flexContainer {
	display:flex;
	flex-direction:row;
}
.flexWrap {
	flex-wrap: wrap;
}
.flexBoxMaxWidth {
    flex: 1;
}
.minWidth1 {
    min-width:400px;
}

.lineHeight1{
    line-height:30px;
}

.thumb {
    height: 30px;/*todo : degueulasse*/
}

.logoAlternative {
	width: 30px;
	flex-grow : 0;
    flex-shrink : 0;
    margin-bottom: -5px; /*todo: degeu */
    margin-right: 5px;
}
.alternativeToMainImpact:hover .logoAlternative {
	opacity:0.8;
}



.logoAlternativeImage {
	height: 100%;
	width: 100%;
}
/*.logoAlternativeImage {
	height: 3em;
	width: 3em;
	padding: 7px;
	border-radius: 7px;
	border: solid 1px;
	vertical-align: top;
}*/


.logoPlusOrMinusImage {
	height: 100%;
	width: 100%;
}

.add {
	font-family: "comic sans ms";
	font-size: 3em;
	color: white;
	font-weight: bold;
	height:1em;
	width:1em;
	border-radius:2em ;
	text-align: center;
	line-height: 1em;
	background-color: black;
}

label {
	#border: solid 1px black;
	opacity:0.9;
	#font-weight: bold;
	color: white;
	border-radius: 2px;
	padding: 3px 0.4em  ;
	font-familly:arial;
	font-weight:bold;
	display:inline-block;
	#font-family:    "Trebuchet MS",Helvetica,Arial,sans-serif;
}
:hover{
	opacity: 1;
}

	.smallLabel {
		font-size: 1em;	
	}

		.year {
			background-color: #39942F;
			opacity:0.5;
		}

		.impactCateg {
			background-color: #b2393f;
		}

		.uncertainSource {
			background-color: #B5913A;
			opacity:0.5;
		}



		.objectLink {
			background-color: #BBBBBB;
			border:none;
		}


nav {



    #background-image: linear-gradient(to right, #202030, #08080b);
    #background-image: linear-gradient(to right, #404060, #181820);
    #background-image: linear-gradient(to right, #202030, #181820);

    #font-family: "Lucida Grande";

    #overflow:auto;
}

.navTop{
    display:block;
    background-color:#eee;
    border-bottom: solid 1px #606060;
    border-top: solid 2px #606060;
    box-shadow:0px 0px 4px #606060;
}

.via {
	background-color: midnightblue;
	color: white;
    font-family: monospace;
    font-size:1.2em;
    text-transform:uppercase;
    font-weight:bold;
    text-shadow: 1px 1px black;
}

#svg2 {
	fill:green;
}

.test {
	font-size: 5em;
	source: url("th/hand_index.svg");
	background-color: blue;
}

#svg1 {
	fill:green;
}

footer{
    width: 100%;
    background-color: #202020;
}












label[for=id_email]
{
   background-color:white;
   color:inherit;
   border:none;
}










html {
    display: -webkit-box;display:
    -webkit-flex;display:
    -ms-flexbox;display:
    flex; -webkit-box-orient:
    vertical; -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
} /* IE fix */

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; /* crée un contexte flex pour ses enfants */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; /* affichage vertical */
  min-height: 100vh; /* toute la hauteur du viewport (compatible IE9+) */
}
.wrapper {
  display: block; /* IE fix */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; /* occupe la hauteur restante */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; /* crée un contexte flex pour ses enfants */
  -webkit-box-orient: horizontal;
}
.navLeft {
  flex:0 0 17em;
  order:1;

  border-right: 1px solid black;
  box-shadow: 2px 2px 2px #BBBBBB;
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #202030;
      background-image: linear-gradient(to right, #202030, #1c1c2a);

}
.content {
    position:0
  display: block; /* IE fix */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; /* occupe la largeur restante */
  order:2;
}


.tab {
    display: inline-block;
    #border : solid 4px green;
	#opacity:0.9;
	color: #162221;
	padding: 3px 0.4em  ;
	font-family: monospace;
	text-transform:uppercase;
	font-size: 1.3em;
	font-weight:bold;

	margin-bottom: -1px;
	background-color:#89D6D2;
	border-left: solid 4px #b3b3b5;
	padding: 10px;




}

.triangle {
	width: 0;
	height: 0;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;

	border-left: 10px solid #89D6D2;
}

@media handheld, (max-width: 640px) {

  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  navLeft {
    width: auto;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
            flex: 0;
                padding-top: 10px;
  }
  .contentSection {
    margin:0;
    padding: 3px;
  }

  h1, h2{
    margin: -4px;
  }
}



