<div model="{{ formName }}" style="{% if doNotDisplay %}display:none{% endif %}"> <!-- todo: renommer 'model' en formName (pour le framework, on élagrit à des forms qui ne ssont pas des modeles)-->
    <script type="text/javascript">
        {% autoescape off %}

                    var data = {
                        formId:   "{{  formId   }}",
                        formName:    "{{ formName  }}",
                        url:         "{% url 'getform' '' %}",
                        parentFormId: {{ parentFormId }},
                        fieldOfParentForm: {{ fieldOfParentForm }},
                        whereToAdd:  "{{    formId    }}_container"
                        {% if objectId != None %}
                        ,objectId:    "{{   objectId   }}"
                        {% endif %}
                        {% if isRootForm %}
                        ,isRootForm:  true
                        {% endif %}
                        {% if qunitTesting %}
                        ,callbackQunitFunction : {{ callbackQunitFunction }}
                        {% endif %}
                    };
                    //$(document).ready(function() {
                    //    $('#{{ formId }}_delete').on('click',data,deleteAForm);
                    //});

            {% if isEditable %}
                    allFormsConf['{{ formId }}'] = {{ conf }};

                    $(document).ready(function() {
                        applyFormConfiguration(
                            '{{  formId   }}',
                            '{{ formName }}',
                            "{% url 'postform' '' %}",
                            "{% url 'getform' '' %}",
                            "{% url 'processlivesearch' formName %}",
                    {#        "{% url 'processlivesearchresultdiv' formId %}",  #}
                            formTreePtrs, formTree
                            {% if qunitTesting %}
                            ,{{ callbackQunitFunction }}
                            {% endif %}
                        );
                        $('#{{ formId }}_cancel').on('click',data,cancelInbaseElementModification);
                    });


            {% else %}
                    $(document).ready(function() {
                        $('#{{ formId }}_modify').on('click',data,modifyInbaseElement);
                    });
            {% endif %}
        {% endautoescape %}
    </script>
    {% if isEditable %}
        {% if objectBeingModified != None %}
        <div id="{{ formId }}_cancel" style="border:1px solid black;background-color:grey;padding:3px;display:inline-block">{# todo: ask confirmation to the user #}
            Annuler modification
        </div>
        {% endif %}
        <form id="{{ formId }}" action="" method="post" class="formBox" style="position:relative;background-color:{% if objectBeingModified != None %}yellow{% else %}white{% endif %};">
            {% if not isRootForm %}
            <!--<div id="{{ formId }}_delete" style="float:right;border:1px solid black;background-color:grey;padding:0 3px;display:inline-block">{# todo: ask confirmation to the user #}
                X
            </div>-->
            {% endif %}
            <input type="hidden" name="_page_loaded_at" id="{{ formId }}_page_loaded_at" value="{{pageLoadedAt}}">
            {% csrf_token %}
            {% block formContent %}
            {{ form.as_p }}
            {% endblock %}
            <!--<div style="border:1px solid black; display:inline-block">trucmuche</div>-->
            <!--input type="hidden" id="{{ formId }}_was_originally_empty" value="{{returnEmptyForm}}" {% if not returnEmptyForm %}objectId="{{objectId}}"{% endif %}>
            -->
            {% if isRootForm %}
            <input id="submit" type="submit" value="Submit" />
            {% endif %}
        </form>

    {% else %}

        {% comment%}
                            {% if validatedValue != None %}
                            <input type="hidden" value="{{ validatedValue.objectId }}" name="{{ validatedValue.fieldOfParentForm }}"> <!-- ! should neven be enclosed in an other 'form' tag that is not his 'parentForm' -->
                            {% endif %}
        {% endcomment %}

        <div id="{{ formId }}_modify" style="border:1px solid black;background-color:grey;padding:3px;display:inline-block">
            Suggérer une correction sur cet objet
        </div>
        <div id="{{ formId }}_modify2" style="border:1px solid black;background-color:grey;padding:3px;display:inline-block">
            Remplacer ou Supprimer
        </div>

        <div id="{{ formId }}" class="formBox" style="{% if doNotDisplay %}display:none{% endif %};background-color:#EEE">
            {% if not isRootForm %}
            <!--<div id="{{ formId }}_delete" style="float:right;border:1px solid black;background-color:grey;padding:0 3px;display:inline-block">{# todo: ask confirmation to the user #}
                X
            </div>-->
            {% endif %}
            {% for field in form %}
                <div class="fieldWrapper">
                {{ field.label_tag }} {{ field.value }}
                </div>
            {% endfor %}

        </div>

    {% endif %}


</div>




{% comment %}

    <link rel="stylesheet" href="{% static 'core_forms/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'core_forms/css/animation.css' %}">
    <!--[if IE 7]>
    <link rel="stylesheet" href="{% static 'core_forms/css/fontello-ie7.css' %}">
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'core_forms/css/style.css' %}">

{% endcomment %}

