{% extends 'object_print/base.html' %}

    {% block content %}
        {% with hio=object %}
            <span>
                {% include 'object_print/behaviour.html' with behaviour=hio.behavior%}
                a un impact sur
                {{ hio.impactCateg.name }}<br/>
                ( because :
                {{ hio.becauseOf.from_rel.name }}(faut faire un object_print)
                {{ hio.becauseOf.relationType.name }}
                {{ hio.becauseOf.to_rel.name }})

            </span>
        {% endwith %}
    {% endblock %}

