

    <script src="{{ STATIC_URL }}core_forms/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="{% url 'core_forms.views.formJs' %}" type="text/javascript"></script>

    <script type="text/javascript">
        if(allFormsConf==undefined){
            var allFormsConf={};
            $('head').append($('<style type="text/css">.isUneditable{background-color:grey}</style>'));
        }
        allFormsConf['{{ formId }}'] = {{ conf }};

        if(ls==undefined){ //TODO: renommer ls
            var ls={};
        }

        $(document).ready(function() {
            applyFormConfiguration('{{  formId   }}', '{{ formName }}' ,"{% url 'core_forms.views.model_post_form' '' %}" , "{% url 'core_forms.views.process_livesearch_resultdiv' formId %}");
        });
    </script>
    <!--<script src="{{ STATIC_URL }}maquette/js/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>-->


    <!--<form id="form1" action=" url 'core_formws.model_post_form' modelName " method="post">-->
    <form id="{{ formId }}" action="DanTonKu" method="post" class="formBox">
        <input type="hidden" name="_page_loaded_at" id="{{ formId }}_page_loaded_at" value="{{pageLoadedAt}}">
        {% csrf_token %}

        {% block formContent %}
        {{ form.as_p }}
        {% endblock %}

        <!--<div style="border:1px solid black; display:inline-block">trucmuche</div>-->

        <!--input type="hidden" id="{{ formId }}_was_originally_empty" value="{{returnEmptyForm}}" {% if not returnEmptyForm %}objectId="{{objectId}}"{% endif %}>
        <input type="submit" value="Submit" />-->
    </form>






    <link rel="stylesheet" href="{{ STATIC_URL }}core_forms/css/fontello.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}core_forms/css/animation.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{ STATIC_URL }}core_forms/css/fontello-ie7.css">
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core_forms/css/style.css">

