
<!--

        <div class="class_ls_result_div" id="{{ id }}_ls_result_div" style='border:4px solid yellow'>
            <div class="class_ls_result_main" id="{{ id }}_ls_result_main">
                <table>
                    <tbody class="whereToAddTheResultContent">

                    </tbody>
                </table>
            </div>


            <div class="class_ls_result_footer" id="{{ id }}_ls_result_footer">
                <div id="{{ id }}_ajax_navigation">
                    <div class="col navigation">
                        <i class="icon-left-circle arrow" id="{{ id }}_ls_previous_page"></i>
                    </div>
                    <div class="col navigation pagination">
                        <label id="{{ id }}_ls_current_page_lbl">1</label> /
                        <label id="{{ id }}_ls_last_page_lbl"></label>
                    </div>
                    <div class="col navigation">
                        <i class="icon-right-circle arrow" id="{{ id }}_ls_next_page"></i>
                    </div>
                </div>

            </div>



        </div>-->