<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>OpenAlternativa{% if title %} - {{ title }}{% endif %}</title><!-- todo: change the title for each page (google SEO)-->
    {% load staticfiles %}
    <link rel="icon" href="{% static 'core/favicon.png' %}" />
    <link href="{% url 'core.views.get_css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href='{% static "core/icons/mfg/mfg.css" %}'>
    <script type="text/javascript" src="{% static 'core/js/jquery/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'core/paletton/colorize.js' %}"></script><!--todo: temporary. Made to choose the website colors-->
    <meta name="viewport" content="width=device-width" ></code>
</head>

<body>
<header class="alignCenter">
    <div class="centeredBlock" style="height:100%">
        <a href="/" >
            <img class="logo" src="{% url 'core.views.get_logo' %}"
                 alt="OpenAlternativa"></img>
            <!--
            <div style="font-style: normal;font-family:ubuntu"><i class="icon-chevron_right temp3" style="font-size:0.9em"></i><i class="icon-chevron_right temp3" style="font-size:0.9em"></i><span style="vertical-align:top;font-weight:normal"><span class="temp2" style="font-weight:inherit"> Open</span><span class="temp1">A</span><span
                    class="temp1">lternativa</span><span class="temp3" style="font-weight:bold"></span>
            </span>
            </div>-->
        </a>
    </div>
</header>

<div class="alignCenter navTop bgcol-pri-lum-2"><!--todo: remove bgcol-pri-0-->
    <nav class="centeredBlock alignCenter">
        {% for t in topics %}{% if t.in_navigation_bar%}<!-- do not delete these comments (they are here to avoid spaces
        between the naviation buttons)
     --><div class="nbbContainer"><a href="{% url 'core.views.get_topic_by_name_and_id' t.id t.slug %}"
            onclick="alert('The content your are about to acess is still in development. A lot of data is missing, and the design is about to be completely reviewed.\n\nThank you!')"><!--
         --><div class="navBarButton">
                <div style="line-height:1.3em;display:inline-block">{{ t.name }}</div>
            </div><!--
     --></a></div><!--
     -->{% endif %}{% endfor %}
    </nav>
</div>

<div class="alignCenter">
    <div class="centeredBlock">
        <div class="content">
            <section class="contentSection">
            {% block content %}
                empty
            {% endblock %}
            </section>
        </div>
    </div>
</div>


<footer class="alignCenter">
    <div class="centeredBlock">
        <br/><br/>
    </div>

    <!--todo: temporary. Made to choose the website colors-->
    <script type="text/javascript">
        window.addEventListener('message',function(e){
           if (!e || !e.data) return;
           if (e.data.id=='palettonwidget/colorize/class') myColorizeHandler(e.data.data);
           console.log(e)
           },false);

        function myColorizeHandler(a){
            $(".bgcol-pri-0").css({fill: a.byPalette.pri[1] });
        }
    </script>
</footer>

<script>
                        function openPar(id,id2,content){
                            document.getElementById(id).style.display = 'block';
                            var b = document.getElementById(id2);
                            b.innerHTML = '<i class="icon-chevron_down"></i>' + content ;
                            b.href = "javascript:closePar('" +id+ "','" +id2+ "','" +content+ "');"
                        }
                        function closePar(id,id2,content){
                            document.getElementById(id).style.display = 'none' ;
                            var b = document.getElementById(id2);
                            b.innerHTML = '<i class="icon-chevron_right"></i>' + content ;
                            b.href = "javascript:openPar('" +id+ "','" +id2+ "','" +content+ "');" ;
                        }
</script>

{% if analytics %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.openalternativa.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
  _paq.push(['appendToTrackingUrl', 'bots=1']);
</script>
<noscript><p><img src="//stats.openalternativa.com/piwik.php?idsite=1" style="border:0;" alt=""/></p></noscript>
<!-- End Piwik Code -->
{% endif %}

</body>
</html>
