{% extends 'core_forms/modelforms/defaultForm.html' %}

{% block formContent %}






        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.to_behaviour.errors }}
            <label for="{{ form.to_behaviour.id_for_label }}">Cet alternative est:</label>
            {{ form.to_behaviour }}
        </div>
        <div class="fieldWrapper">
            {{ form.from_behaviours.errors }}
            <label for="{{ form.from_behaviours.id_for_label }}">est une alternative à</label>
            {{ form.from_behaviours }}
        </div>
        <div class="fieldWrapper">
            {{ form.topics.errors }}
            <label for="{{ form.topics.id_for_label }}">Topics:</label>
            {{ form.topics }}
        </div>

        A jarter:
        <div class="fieldWrapper">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}
        </div>
        <div class="fieldWrapper">
            {{ form.foo.errors }}
            <label for="{{ form.foo.id_for_label }}">Foo:</label>
            {{ form.foo }}
        </div>

        <!--<div class="sources">
            {{ form.sources.errors }}
            <label for="{{ form.sources.id_for_label }}">Sources:</label>
            {{ form.sources }}
            <span class="explanation">(sources explicitant en quoi ce comportement constitue une réelle alternative)</span>

        </div>-->



{% endblock %}