<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>OpenAlternativa</title>
    {% load staticfiles %}
    <link href="{% static 'maquette/css/style.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href='{% static "maquette/icons/mfg/mfg.css" %}'>
    <script type="text/javascript" src="{% static 'maquette/js/jquery/jquery-1.11.3.min.js' %}"></script>
</head>

<body>
<header class="alignCenter">
    <div class="centeredBlock" style="padding-top:8px">
        {% comment%}
        <div style="display:inline-block;height: 0.7em;width:1em;">
            <img class="logoAlternativeImage" src="{% static 'maquette/icons/custom/hand_index.svg' %}"
                              alt=""
                              style="width:100%;height:100%;z-index:1;opacity:0.7"></img>
        </div>
        {% endcomment %}
        <span style="font-style: italic;font-family:ubuntu"><i class="icon-chevron_right temp3" style="font-size:0.9em"></i><i class="icon-chevron_right temp3" style="font-size:0.9em"></i><span style="vertical-align:top;font-weight:normal"><span class="temp2" style="font-weight:inherit"> Open</span><span class="temp1">A</span><span
                class="temp1">lternativa</span><span class="temp3" style="font-weight:bold"> .</span>
        </span></span>
    </div>

</header>


<div class="alignCenter navTop">
    <nav class="centeredBlock">
        {% for t in topics %}
        {% if t.in_navigation_bar%}
        <a href="{% url 'altws.views.topic_id' t.id %}"
           onclick="alert('Attention, vous allez accéder à une page en développement. Beaucoup de données sont manquantes. La structure ainsi que le design de la page ne sont absolument pas finalisés. \nMerci de ne pas modifier la base de données avant que de réels formulaires intelligibles n\'aient été mis en place. \n\nMerci de votre indulgence!')">
            <div class="navBarButton nbbTop">
                {{ t.name }}
            </div>
        </a>
        {% endif %}
        {% endfor %}
        {% comment %}
        <div class="navBarButton" style="margin-top:20px">
            <i class="icon-chevron_right"></i>
            &nbsp;Suggest a new topic
        </div>
        {% endcomment %}
    </nav>
</div>

<div class="alignCenter">
    <div class="centeredBlock">
        <div class="content" style=''>
            {% block content %}
            <section class="contentSection">
                empty
            </section>
            {% endblock %}
        </div>
    </div>
</div>


<footer class="alignCenter">
    <div class="centeredBlock">
        <br/><br/>
    </div>
</footer>

<script>
                        function openPar(id,id2){
                            document.getElementById(id).style.display = 'inherit' ;
                            var b = document.getElementById(id2);
                            b.innerHTML = '<i class="icon-chevron_down"></i>' ;
                            b.onclick=function(){closePar(id,id2);} ;
                        }
                        function closePar(id,id2){
                            document.getElementById(id).style.display = 'None' ;
                            var b = document.getElementById(id2);
                            b.innerHTML = '<i class="icon-chevron_right"></i>' ;
                            b.onclick=function(){openPar(id,id2);} ;
                        }
</script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.openalternativa.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
  _paq.push(['appendToTrackingUrl', 'bots=1']);
</script>
<noscript><p><img src="//stats.openalternativa.com/piwik.php?idsite=1" style="border:0;" alt=""/></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
