
                                <!--<div style="white-space: nowrap;position:relative;">
                                    <div class="tab" style="position:relative;max-width:40%;white-space:normal;word-wrap: normal;border-bottom: 3px black dotted">
                                        <div style="overflow:hidden;max-width:100%">
                                        {{ name }}
                                        </div>

                                        <div class="triangle" style="position:absolute;right:-10px; bottom:0;z-index:1"></div>

                                    </div>
                                    <div style="display:inline-block; z-index:0;position:absolute;bottom:0;white-space:normal;word-wrap: normal;">
                                            <span class="via">{{ label }}</span>
                                            <!--<span class="admin"><a onclick="alert('Attention, tu t appretes à ACTUALISER un element déjà existant. Dans le formulaire que tu vas remplir, il faudra toujours Resaisir les toutes les information, meme celles que tu ne souhites pas modifier. Sinon, ça va foirer: les sources vont disparaitre, le topic aussi (et du coup l impact n apparaitra plus dans le topic). Il faut donc toujours bien vérifier avant d appuyer sur le bouton PUT. Pour annuler la manip si tu n es pas sûre de ce que tu fais, clique sur le bouton PRECEDENT de ton navigateur. ')" href="/rest/{{entity_imp}}/{{id_admin}}">(Modifier ce cadre)</a></span>
                                    </div>
                                </div>-->


                                <div style="white-space: nowrap;position:relative;">

                                    <div style="position:relative;margin-right:3px;font-weight:bold;white-space:normal;word-wrap: normal;display: inline-block;padding:2px 6px; border-width: 1px;border-style:solid;border-radius:3px">
                                        <div style="overflow:hidden;max-width:100%">
                                        {{ name }}&nbsp;&nbsp;>
                                        </div>

                                    </div>
                                    <div style="display:inline-block;position:absolute;bottom:0;white-space:normal;word-wrap: normal;">
                                            <span style="margin:2px;display:inline-block;color:white;padding:1px 6px;border-radius:4px;background-color:{% cycle '#70BC64' '#559AB9' '#B55352' '#8A59A8' %};">{{ label }}</span>
                                            <!--<span class="admin"><a onclick="alert('Attention, tu t appretes à ACTUALISER un element déjà existant. Dans le formulaire que tu vas remplir, il faudra toujours Resaisir les toutes les information, meme celles que tu ne souhites pas modifier. Sinon, ça va foirer: les sources vont disparaitre, le topic aussi (et du coup l impact n apparaitra plus dans le topic). Il faut donc toujours bien vérifier avant d appuyer sur le bouton PUT. Pour annuler la manip si tu n es pas sûre de ce que tu fais, clique sur le bouton PRECEDENT de ton navigateur. ')" href="/rest/{{entity_imp}}/{{id_admin}}">(Modifier ce cadre)</a></span>-->
                                    </div>
                                </div>



