<!DOCTYPE html>

<html>
	<head lang="en">
        <meta charset="UTF-8" />
        {% load staticfiles %}
		<link href="{% static "maquette/style.css" %}" rel="stylesheet" type="text/css">

		<link rel="stylesheet" href="{% static "maquette/th/mfg.css" %}">
        <meta name="viewport" content="width=device-width" />
		<title>Banques</title>

		<!--[if lt IE 9]>
		    <script src="http://github.com/aFarkas/html5shiv/blob/master/dist/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
        <header>
            <img class="logoAlternativeImage" src="{% static 'maquette/th/hand_index.svg' %}" alt="" style="width:1em;;height:1em;z-index:1;left:0em;top:0em;opacity:0.7;vertical-align:middle;position:relative"></img>
            <span style="vertical-align:top"><span class="temp1">Open</span><span class="temp2">A</span><span class="temp2">lternativ</span><span class="temp3">a.!</span>
            </span>
        </header>
		<div class="content" style='position:absolute;top:3em;width:100%'>
			<h1>Banques</h1>
<!--

			<section class="contentSection">
				<h2 style="margin:20px">Principaux impacts :</h2>

						<div class="mainImpact softBox colorOnHover">

							<div class="colorOnHoverContainer" style="position:relative">
 									<div class="buttons">
 										<span>
	 										Par : <i class="icon-user icon1x"></i><br>
											39 Sources : <i class="icon-magnifying icon1x"></i>
										</span>
									</div>
									<table style="font-size:1.1em;">
										<tr>
											<td>
												Impact sur :
											</td>
											<td>
												<label class="impactCateg smallLabel">Climat</label>
											</td>
										</tr>
										<tr>
											<td>
												via :
											</td>
											<td>
												<label class="via smallLabel">Financement de multinationnales polluantes</label>
											</td>
										</tr>
									</table>






								<div class="alternativeToMainImpact box">



										<div class="logoAlternative medaillon">
											<img class="logoAlternativeImage" src="{% static 'maquette/th/hand_index.svg' %}" alt=""></img>
										</div>
										<div class="alternativeToMainImpactContent">
											<span style="display:block;margin-bottom:3px">Alternatives :</span>
											<div class="alternative">
												<span>Consommer chez:
												 Crédit Bisounours </span>
												<span class="buttonsAlternative">
													<i class="icon-user icon1x"></i>&nbsp;|&nbsp;
													<i class="icon-mute_off icon1x"></i>&nbsp;<i class="icon-users icon1x"></i>&nbsp;|&nbsp;
													<i class="icon-magnifying icon1x"></i>&nbsp;(39)
												</span>
											</div>
											<div class="alternative">
												<span>Garder tout son fric dans sa poche</span>
												<span class="buttonsAlternative">
													<i class="icon-user icon1x"></i>&nbsp;|&nbsp;
													<i class="icon-mute_off icon1x"></i>&nbsp;<i class="icon-users icon1x"></i>&nbsp;|&nbsp;
													<i class="icon-magnifying icon1x"></i>&nbsp;(39)
												</span>
											</div>
											<div class="alternative">
												<i class="icon-chevron_down"></i> Plus ...
												<span class="buttonsAlternative" style="position:absolute;right:0px;margin-right:7px"><i class="icon-PEN icon1x"></i> Ajouter une alternative</span>
											</div>
										</div>

								</div>

							</div>

						</div>





						<div class="mainImpact softBox colorOnHover">
							<div class="colorOnHoverContainer" style="position:relative">
 									<div class="buttons">
 										<span>
	 										Par : <i class="icon-user icon1x"></i><br>
											39 Sources : <i class="icon-magnifying icon1x"></i>
										</span>
									</div>
									<table style="font-size:1.1em;">
										<tr>
											<td>
												Impact sur :
											</td>
											<td>
												<label class="impactCateg smallLabel">Droit du travail</label>
											</td>
										</tr>
										<tr>
											<td>
												via :
											</td>
											<td>
												<label class="via smallLabel">Travail de hamsters clandestins</label>
											</td>
										</tr>
									</table>






								<div class="alternativeToMainImpact box">


										<div class="logoAlternative medaillon">
											<img class="logoAlternativeImage" src="{% static 'maquette/th/hand_index.svg' %}" alt=""></img>
										</div>
										<div class="alternativeToMainImpactContent">
											<span style="display:block;margin-bottom:3px">Alternatives :</span>
											<div class="alternative">
												<span>Consommer chez:
												 Crédit Touchoux </span>
												<span class="buttonsAlternative">
													<i class="icon-user icon1x"></i>&nbsp;|&nbsp;
													<i class="icon-mute_off icon1x"></i>&nbsp;<i class="icon-users icon1x"></i>&nbsp;|&nbsp;
													<i class="icon-magnifying icon1x"></i>&nbsp;(39)
												</span>
											</div>
											<div class="alternative">
												<span>Adopter un hamster</span>
												<span class="buttonsAlternative">
													<i class="icon-user icon1x"></i>&nbsp;|&nbsp;
													<i class="icon-mute_off icon1x"></i>&nbsp;<i class="icon-users icon1x"></i>&nbsp;|&nbsp;
													<i class="icon-magnifying icon1x"></i>&nbsp;(39)
												</span>
											</div>
											<div class="alternative">
												<i class="icon-chevron_down"></i> Plus ...
												<span class="buttonsAlternative" style="position:absolute;right:0px;margin-right:7px"><i class="icon-PEN icon1x"></i> Ajouter une alternative</span>
											</div>
										</div>


								</div>

							</div>

						</div>

<p>Mettre le bouton proposer Un principal Impact</p>

			</section>

-->



 			<section class="contentSection">
				<h2>En détail...</h2>

				<ul>
                    {% for prod in products %}
                        <li>





                            <div>
                                {{ prod.name }}
                            </div>

                            {% for relation in prod.relations_from.all %}

                            <div class="alternativeToMainImpact box">
                                <div class="logoAlternative medaillon"><img class="logoPlusOrMinusImage" src="{% static 'maquette/th/hand_thumbdown.svg' %}"></img></div>
                                <div class="alternativeToMainImpactContent">
                                    <div class="colorOnHoverContainer" style="position:relative">
                                        <span style="display:block;margin-bottom:15px">
                                            Aurait eu un impact
                                            <br><label class="impactCateg smallLabel"></label> car
                                            <br>{{ prod.name }} {{relation.relationType.name}} {{relation.to_rel.product.name}} :
                                        </span>
                                        <div class="alternative">
                                            <span><label class="year smallLabel">2012</label> : CIC finance : association AntiHamsters</a>
                                            </span>
                                            <span class="buttonsAlternative">
                                                <i class="icon-user icon1x"></i>&nbsp;|&nbsp;
                                                <i class="icon-magnifying icon1x"></i>&nbsp;
                                            </span>
                                        </div>
                                        <div class="alternative">
                                            <span><label class="year smallLabel">2012</label> : CIC finance : association AntiHamsters</a>
                                            </span>
                                            <span class="buttonsAlternative">
                                                <i class="icon-user icon1x"></i>&nbsp;|&nbsp;
                                                <i class="icon-magnifying icon1x"></i>&nbsp;
                                            </span>
                                        </div>
                                        <div class="alternative" style="margin-left:2em;">
                                            <span><label class="year smallLabel">2014</label> : Source démentie
                                            <span class="buttonsAlternative">
                                                <i class="icon-user icon1x"></i>&nbsp;|&nbsp;
                                                <i class="icon-magnifying icon1x"></i>&nbsp;
                                            </span>										</span>

                                        </div>
                                        <div class="alternative" style="margin-left:2em;">
                                            <span><label class="year smallLabel">2014</label> : Source démentie <label class="uncertainSource smallLabel">???</label>
                                            </span>
                                            <span class="buttonsAlternative">
                                                <i class="icon-user icon1x"></i>&nbsp;|&nbsp;
                                                <i class="icon-magnifying icon1x"></i>&nbsp;
                                            </span>
                                        </div>
                                        <div class="alternative">
                                            <span><label class="year smallLabel">2012</label> : CIC finance : association AntiHamsters</a>
                                            </span>
                                            <span class="buttonsAlternative">
                                                <i class="icon-user icon1x"></i>&nbsp;|&nbsp;
                                                <i class="icon-magnifying icon1x"></i>&nbsp;
                                            </span>
                                        </div>


                                                        <div class="alternativeToMainImpact box" style="margin-top:20px">
                                                                <div class="logoAlternative medaillon">
                                                                    <img class="logoAlternativeImage" src="{% static 'maquette/th/hand_index.svg' %}" alt=""></img>
                                                                </div>
                                                                <div class="alternativeToMainImpactContent">
                                                                    <span style="display:block;margin-bottom:3px">Alternatives :</span>
                                                                    <div class="alternative">
                                                                        <span>Consommer chez:
                                                                         Crédit Bisounours </span>
                                                                        <span class="buttonsAlternative">
                                                                            <i class="icon-user icon1x"></i>&nbsp;|&nbsp;
                                                                            <i class="icon-mute_off icon1x"></i>&nbsp;<i class="icon-users icon1x"></i>&nbsp;|&nbsp;
                                                                            <i class="icon-magnifying icon1x"></i>&nbsp;(39)
                                                                        </span>
                                                                    </div>
                                                                    <div class="alternative">
                                                                        <span>Garder tout son fric dans sa poche</span>
                                                                        <span class="buttonsAlternative">
                                                                            <i class="icon-user icon1x"></i>&nbsp;|&nbsp;
                                                                            <i class="icon-mute_off icon1x"></i>&nbsp;<i class="icon-users icon1x"></i>&nbsp;|&nbsp;
                                                                            <i class="icon-magnifying icon1x"></i>&nbsp;(39)
                                                                        </span>
                                                                    </div>
                                                                    <div class="alternative">
                                                                        <i class="icon-chevron_down"></i> Plus ...
                                                                        <span class="buttonsAlternative" style="position:absolute;right:0px;margin-right:7px"><i class="icon-PEN icon1x"></i> Ajouter une alternative</span>
                                                                    </div>
                                                                </div>
                                                        </div>



                                    </div>
                                </div>
                            </div>

                            {% endfor %}
<!--
                            <div class="alternativeToMainImpact box">
                                    <div class="logoAlternative medaillon"><img class="logoPlusOrMinusImage" src="{% static 'maquette/th/hand_thumbdown.svg' %}"></img></div>
                                <div class="alternativeToMainImpactContent">
                                    <div class="colorOnHoverContainer" style="position:relative">
                                        <span style="display:block;margin-bottom:15px">
                                            Aurait eu un impact négatif sur:
                                            <br><label class="impactCateg smallLabel">Droit du Travail</label> via ses
                                            <br><label class="via smallLabel">Travail de hamsters clandestins</label> :
                                        </span>
                                        <div class="alternative">
                                            <span><label class="year smallLabel">2012</label> : CIC finance : association AntiHamsters</a>
                                            </span>
                                            <span class="buttonsAlternative">
                                                <i class="icon-user icon1x"></i>&nbsp;|&nbsp;
                                                <i class="icon-magnifying icon1x"></i>&nbsp;
                                            </span>
                                        </div>

                                                        <div class="alternativeToMainImpact box" style="margin-top:20px">
                                                                <div class="logoAlternative medaillon">
                                                                    <img class="logoAlternativeImage" src="{% static 'maquette/th/hand_index.svg' %}" alt=""></img>
                                                                </div>
                                                                <div class="alternativeToMainImpactContent">
                                                                    <span style="display:block;margin-bottom:3px">Alternatives :</span>
                                                                    <div class="alternative">
                                                                        <span>Consommer chez:
                                                                         Crédit Bisounours </span>
                                                                        <span class="buttonsAlternative">
                                                                            <i class="icon-user icon1x"></i>&nbsp;|&nbsp;
                                                                            <i class="icon-mute_off icon1x"></i>&nbsp;<i class="icon-users icon1x"></i>&nbsp;|&nbsp;
                                                                            <i class="icon-magnifying icon1x"></i>&nbsp;(39)
                                                                        </span>
                                                                    </div>
                                                                    <div class="alternative">
                                                                        <span>Garder tout son fric dans sa poche</span>
                                                                        <span class="buttonsAlternative">
                                                                            <i class="icon-user icon1x"></i>&nbsp;|&nbsp;
                                                                            <i class="icon-mute_off icon1x"></i>&nbsp;<i class="icon-users icon1x"></i>&nbsp;|&nbsp;
                                                                            <i class="icon-magnifying icon1x"></i>&nbsp;(39)
                                                                        </span>
                                                                    </div>
                                                                    <div class="alternative">
                                                                        <i class="icon-chevron_down"></i> Plus ...
                                                                        <span class="buttonsAlternative" style="position:absolute;right:0px;margin-right:7px"><i class="icon-PEN icon1x"></i> Ajouter une alternative</span>
                                                                    </div>
                                                                </div>
                                                        </div>



                                    </div>
                                </div>
                            </div>

                            <div class="alternativeToMainImpact box">
                                    <div class="logoAlternative medaillon"><img class="logoPlusOrMinusImage" src="{% static 'maquette/th/hand_thumb.svg' %}"></img></div>
                                <div class="alternativeToMainImpactContent">
                                    <div class="colorOnHoverContainer" style="position:relative">
                                        <span style="display:block;margin-bottom:15px">
                                            Contribuerait à réduire l'impact sur:
                                            <br><label class="impactCateg smallLabel">Ecologie</label> via ses
                                            <br><label class="via smallLabel">Financements</label> :
                                        </span>
                                        <div class="alternative">
                                            <span><label class="year smallLabel">2012</label> : CIC finance : WWF</a>
                                            </span>
                                            <span class="buttonsAlternative">
                                                <i class="icon-user icon1x"></i>&nbsp;|&nbsp;
                                                <i class="icon-magnifying icon1x"></i>&nbsp;
                                            </span>
                                        </div>
                                        <div class="alternative">
                                            <span><label class="year smallLabel">2009</label> : CIC finance : association PlanteUnArbre</a>
                                            </span>
                                            <span class="buttonsAlternative">
                                                <i class="icon-user icon1x"></i>&nbsp;|&nbsp;
                                                <i class="icon-magnifying icon1x"></i>&nbsp;
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>

-->

                        </li>
                    {% endfor %}

				</ul>
			</section>
		</div>

<!--
<iframe
  src="http://www.koom.org/web/jsp/api/action.jsp?idaction=17&displayMap=0"
  frameborder="0" scrolling="no"
  width="310" height="500">
</iframe>

 <script type="text/javascript">
 	var csList = document.getElementsByClassName("contentSection");
	var cs = csList[0];
	var csStyle = cs.currentStyle || window.getComputedStyle(cs);
	var origPadding = parseInt(csStyle.paddingRight);alert(origPadding);

	window.onresize = function(event){
		if(csStyle.width == csStyle.minWidth){
			for(i=0; i<csList.length; i++){
				p = csList[i];
				p.style.paddingLeft = 2;
				p.style.paddingRight = 2;
			}
		}
		else{
			for(i=0; i<csList.length; i++){
				p = csList[i];
				p.style.paddingLeft = origPadding;
				p.style.paddingRight = origPadding;
			}
		}
	}
</script>

 -->

<!--

  <i class="icon-plus icon3x"></i>
 <i class="icon-pen icon3x"></i>
  <i class="icon-sheet icon3x"></i>
   <i class="icon-file_open icon3x"></i>
    <i class="icon-file_alt icon3x"></i>
     <i class="icon-attachment icon3x"></i>
      <i class="icon-cross_mark icon3x"></i>
       <i class="icon-file_close_alt icon3x"></i>
        <i class="icon-file_close icon3x"></i>
         <i class="icon-cancel_circle icon3x"></i>
<i class="icon-magnifying icon3x"></i>
<i class="icon-warning icon3x"></i>
<i class="icon-warning_alt icon3x"></i>
<i class="icon-magnifying_plus icon3x"></i>
<i class="icon-white_question icon3x"></i>
<i class="icon-black_question icon3x"></i>
<i class="icon-eye icon3x"></i>
<i class="icon-newspaper icon3x"></i>
<i class="icon-mute_off  icon3x"></i>
<i class="icon-users  icon3x"></i>
<i class="icon-message  icon3x"></i>
<i class="icon-discussion  icon3x"></i>
<i class="icon-video_camera icon3x"></i> -->
	</body>

<!--
	checklist:
	- pas de redondance de description meta

	- titres en h1 h2
	- balises header, footer, nav, section(=grandes sections de la page), aside(=infos complementaires), article (https://openclassrooms.com/courses/apprenez-a-creer-votre-site-web-avec-html5-et-css3/structurer-sa-page)
	- pas de texte en dehors de balises
	- utilisation de balises spécifiques (https://openclassrooms.com/courses/apprenez-a-creer-votre-site-web-avec-html5-et-css3/memento-des-balises-html)
	- s'assurer que tous les <img> on un alt, même chaine de caractère vide si besoin
-->
