{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}

                        <section class="contentSection">
                            <h1>{{title}}</h1>
                            <p class="intro">
                            {{description}}
                            </p>


                            <h2>Principaux impacts :</h2>

                            <p>
                                Voici les principaux impacts... [à compléter]:
                            </p>




                		<div class="mainImpactCont flexContainer flexWrap">

                            {% for main_impact in main_impacts %}

							<div class="mainImpactBox height1">

                                {% include "sources_and_alternatives.html" with title=false hasImpactOn=main_impact name=main_impact.impactCateg.name label=main_impact.via entity_alt="alternativetomainimpact" entity_imp="mainimpact" prod='O' only%}

							</div>


                            {% endfor %}

                        </div>
                        <span class="admin"><a href="/rest/mainimpact/">(Ajouter un cadre)</a></span>



                            <h2>Principales alternatives :</h2>
                            <script type="text/javascript">
                                    $(document).foundation();
                            </script>


                                        <div style="display:flex">
                                            <div style="flex: 100%">
                                            </div>
<!--                                            <div class="alternativesNotesFlexSize" style="background-color:black; vertical-align:middle;text-align: center;color:white; font-size:35px">
                                                    I did it!
                                            </div>
                                            <div class="alternativesNotesFlexSize" style="background-color:black; vertical-align:middle;text-align: center;color:white; font-size:35px">
                                                    Difficulty
                                            </div>
                                            <div class="alternativesNotesFlexSize" style="background-color:black; vertical-align:middle;text-align: center;color:white; font-size:35px">
                                                    Efficiency
                                            </div>
                                            <div class="alternativesNotesFlexSize" style="background-color:black; vertical-align:middle;text-align: center;color:white; font-size:35px">
                                                    Score
                                            </div>-->

                                        </div>

                                {% for main_impact in main_impacts %}
                                    {% for alternative in main_impact.alternatives.all %}
                                        <div class="mainAlternative" style="display:flex">
                                            <div class="backgroundGradient altLeftArrow">

                                                <div class="arrowAlternTriangle" >

                                                    <img src="{% static 'maquette/icons/custom/dessin.svg' %}" alt=""/>

                                                </div>
                                            </div>
                                            <div style="flex: 100%">
                                                <span class="alternativeTitle">
                                                {% with behaviour=alternative.to_rel %}
                                                    {% include 'object_print/behaviour.html' with behaviour=behaviour%}
                                                {% endwith %}
                                                </span>
                                                <span class="proposedBy">
                                                    proposed by : Admin &nbsp;|
                                                </span>
                                                <span class="theyDidIt">
                                                    &nbsp;They did it! (3)
                                                </span>
                                                <span class="description">
                                                    Description : qlkjh qlkuhflqkzu quheriul iqzkugf loqiuf <br/>rtek lkuhyerui kuzye
                                                </span>
                                            </div>
<!--                                            <div class="alternativesNotesFlexSize" style="background-color:black; vertical-align:middle;text-align: center;color:white; font-size:35px; font-weight:bold">

                                                    30
                                                <input type="range" min="0" max="10" value="5" step="1" style="width:50px"/>
                                            </div>
                                            <div class="alternativesNotesFlexSize" style="background-color:black; vertical-align:middle;text-align: center;color:white; font-size:35px; font-weight:bold">

                                                    30
                                                <input type="range" min="0" max="10" value="5" step="1" style="width:50px"/>
                                            </div>
                                            <div class="alternativesNotesFlexSize" style="background-color:black; vertical-align:middle;text-align: center;color:white; font-size:35px; font-weight:bold">

                                                    30

                                            </div>-->
                                            <div class="alternativesNotesFlexSize" style="vertical-align:middle;text-align: center;font-size:35px; font-weight:bold">

                                                <a href="" alt="I did it!"><i class="icon-check_circle"></i></a>
                                                <input type="range" min="0" max="10" value="5" step="1" style="width:50px"/>



                                            </div>





                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            Note nico: faire un groupby ici<br/>
                            Gérer l'overflow

                            <h2>En détail...</h2>

                            <div>
                                Search
                            </div>

                            <!-- todo:mettre en liste-->
                                {% for consprod in consumeaproduct %}
                                    {% with prod=consprod.product %}
                                    <div class="habitImpact">

                                        <div class="habitTitle">
                                            <span class="productName"><a href="#"><i class="icon-chevron_right"></i></a>
                                            {{ prod.name }}</span>
                                        </div>


                                        <div class="alternativeToMainImpact">
                                        {% for hasImpactOn in consprod.has_impact_on.all %}

                                            <div class="flexContainer" style="margin-bottom: 20px">
                                                {% if hasImpactOn.impact_type == 'Neg' %}
                                                <div class="logoAlternative thumb"><img class="logoPlusOrMinusImage" src="{% static 'maquette/icons/custom/hand_thumbdown.svg' %}"></img></div>
                                                {% elif  hasImpactOn.impact_type == 'Pos' %}
                                                <div class="logoAlternative thumb"><img class="logoPlusOrMinusImage" src="{% static 'maquette/icons/custom/hand_thumb.svg' %}"></img></div>
                                                {% else %}
                                                <div class="logoAlternative thumb"><img class="logoPlusOrMinusImage" src="{% static 'maquette/icons/custom/hand_thumb.svg' %}"></img></div>
                                                {% endif %}

                                                <div class="alternativeToMainImpactContent flexBoxMaxWidth">

                                                    {% include 'sources_and_alternatives.html' with title=1 hasImpactOn=hasImpactOn name=hasImpactOn.impactCateg.name label='__?'  entity_alt="alternative" entity_imp="hasimpacton" prod=prod only %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                        </div>

                                        <a href="/rest/hasimpacton" alt="" style="font-size:0.8em">(Ajouter un impact)</a>


                                    </div>
                                    {% endwith %}
                                {% endfor %}



                             (note nico: transformer hasImpactOn.becauseOf.to_rel.product.name en hasImpactOn.becauseOf.to_rel.name)
                            <br/>topic dan chacun des behaviour
                            <br/>modificaion de chaq elemn rest en cliquant essus
                            <br/>mettre les sources démenties
                            <br/>tri des sources par date
                            <br/> date des sources: date de consultation + parutuon facultatives
                            <br/> un seu ls à ressource
                            <br/> responsive pas compressible à fond
                        </section>
{% endblock %}
<!--
<iframe
  src="http://www.koom.org/web/jsp/api/action.jsp?idaction=17&displayMap=0"
  frameborder="0" scrolling="no"
  width="310" height="500">
</iframe>

 <script type="text/javascript">
 	var csList = document.getElementsByClassName("contentSection");
	var cs = csList[0];
	var csStyle = cs.currentStyle || window.getComputedStyle(cs);
	var origPadding = parseInt(csStyle.paddingRight);alert(origPadding);

	window.onresize = function(event){
		if(csStyle.width == csStyle.minWidth){
			for(i=0; i<csList.length; i++){
				p = csList[i];
				p.style.paddingLeft = 2;
				p.style.paddingRight = 2;
			}
		}
		else{
			for(i=0; i<csList.length; i++){
				p = csList[i];
				p.style.paddingLeft = origPadding;
				p.style.paddingRight = origPadding;
			}
		}
	}
</script>

 -->

<!--

  <i class="icon-plus icon3x"></i>
 <i class="icon-pen icon3x"></i>
  <i class="icon-sheet icon3x"></i>
   <i class="icon-file_open icon3x"></i>
    <i class="icon-file_alt icon3x"></i>
     <i class="icon-attachment icon3x"></i>
      <i class="icon-cross_mark icon3x"></i>
       <i class="icon-file_close_alt icon3x"></i>
        <i class="icon-file_close icon3x"></i>
         <i class="icon-cancel_circle icon3x"></i>
<i class="icon-magnifying icon3x"></i>
<i class="icon-warning icon3x"></i>
<i class="icon-warning_alt icon3x"></i>
<i class="icon-magnifying_plus icon3x"></i>
<i class="icon-white_question icon3x"></i>
<i class="icon-black_question icon3x"></i>
<i class="icon-eye icon3x"></i>
<i class="icon-newspaper icon3x"></i>
<i class="icon-mute_off  icon3x"></i>
<i class="icon-users  icon3x"></i>
<i class="icon-message  icon3x"></i>
<i class="icon-discussion  icon3x"></i>
<i class="icon-video_camera icon3x"></i> -->


<!--
	checklist:
	- pas de redondance de description meta

	- titres en h1 h2
	- balises header, footer, nav, section(=grandes sections de la page), aside(=infos complementaires), article (https://openclassrooms.com/courses/apprenez-a-creer-votre-site-web-avec-html5-et-css3/structurer-sa-page)
	- pas de texte en dehors de balises
	- utilisation de balises spécifiques (https://openclassrooms.com/courses/apprenez-a-creer-votre-site-web-avec-html5-et-css3/memento-des-balises-html)
	- s'assurer que tous les <img> on un alt, même chaine de caractère vide si besoin
-->
