{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}


    <h1>{{title}}</h1>
    <p class="intro">
        (note: ajouter description)<!--{{description}}-->
    </p>

{% comment %}
    <h2>Points d'attention :</h2>

    <div class="mainImpactCont flexContainer flexWrap">

        {% for main_impact in main_impacts %}
        <!--
        <div class="mainImpactBox height1">
            {# {% include "sources_and_alternatives.html" with title=false hasImpactOn=main_impact name=main_impact.impactCateg.name label=main_impact.via entity_alt="alternativetomainimpact" entity_imp="mainimpact" prod='O' only%} #}
        </div>-->
        <div style="width:100%;margin-left:30px">
            {% with title=false hasImpactOn=main_impact name=main_impact.impactCateg.name label=main_impact.via entity_alt="alternativetomainimpact" entity_imp="mainimpact" prod='O' %}
            {% include "main_impact.html" with name=name label=label id_admin=hasImpactOn.id entity_imp=entity_imp only %}
            {% endwith %}
        </div>

        {% endfor %}

    </div>

    <!--<span class="admin"><a href="/rest/mainimpact/">(Ajouter un cadre)</a></span>-->
{% endcomment %}


    <h2>Main alternatives :</h2>
    <script type="text/javascript">
                                    $(document).foundation();
    </script>



    <div class="mainImpactCont flexContainer flexWrap" style="margin-left:30px">
        {% for behaviour_id, value in behaviours.items %}
        {% with behaviour=value.behaviour %}
        <div class="mainAlternative" style="width:32.5%;min-width:300px!important;margin:1px;border:2px solid #b3b3b5">
            <div style="flex: 100%">
                <div class="alternativeTitle" style='height:72px'>
                    <div>
                        <img style="width:50px" alt="" src="
                                    {% if behaviour.consumeaproduct %}
                                    {% static 'maquette/temporaire/icon_basket.png' %}
                                    {% elif behaviour.habit %}
                                    {% static 'maquette/temporaire/icon_habit.png' %}
                                    {% endif %}"/>
                        <div style="display:inline-block;vertical-align:top;width:200px">
                            <span>
                                {# todo: simplifier cela avec un tag customise? #}
                                {% if behaviour.consumeaproduct %}
                                Consommer chez: {{ behaviour.consumeaproduct.product.name }}
                                {% elif behaviour.habit %}
                                {{ behaviour.habit.name }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>

                <div style="opacity:0.4" class="highlightOnMouseOver">

                    <a href="http://lesjoiesducode.fr/post/35336782255/quand-le-client-essaie-de-cliquer-sur-les"><img style="width:100%;opacity:0.9" alt="" src="{% static 'maquette/temporaire/alternative_cadre.png' %}"/>
                    </a>

                    <div style="padding-left:5px;margin: 8px 0">
                        <div style="text-align:center;margin:3px">
                            <span style="font-style:italic;font-size:0.8em;color:#777">Helps to reduce the impact on :</span>
                        </div>
                        {% with impacts=value.impacts %}
                        {% for impact_name, value in impacts.items %}
                        <span style="margin-bottom:2px;margin-top:8px;display:inline-block">{{impact_name}} :</span>
                        {% for via in value %}
                        <div style="font-size:0.9em;">
                            <div style="width:8px;height:8px;background-color:{% cycle '#70BC64' '#559AB9' '#B55352' '#8A59A8' %};border-radius:50%;display:inline-block;margin-left:3px">

                            </div>
                            <span style="margin:2px;display:inline-block;color:white;padding:1px 6px;border-radius:4px;background-color:{% cycle '#70BC64' '#559AB9' '#B55352' '#8A59A8' %};">{{ via }}</span>
                            <div style="float:right">
                                <span><a href="#" alt="">?</a>&nbsp|&nbsp</span><a href="#" alt=""><img alt='' style="height:18px;bottom:-4px;position:relative;padding-right:5px" src="{% static 'maquette/temporaire/icon_document_search_interface_symbol.png' %}"/>
                            </a>
                            </div>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}

    </div>



    <h2>What is said about...?</h2>

    <div style="width:100%;text-align:center">
        <span>
            Search for a product or a trademark:
        </span>
        <div style="margin:5px">
            <a href=""><i style="margin:4px" class="icon-magnifying icon1x"></i></a><input id="search_product_form" type="search"/>
        </div>
    </div>

    <div id="search_product_result">
    </div>

    <!--
    (note nico: transformer hasImpactOn.becauseOf.to_rel.product.name en hasImpactOn.becauseOf.to_rel.name)
    <br/>topic dan chacun des behaviour
    <br/>modificaion de chaq elemn rest en cliquant essus
    <br/>mettre les sources démenties
    <br/>tri des sources par date
    <br/> date des sources: date de consultation + parutuon facultatives
    <br/> un seu ls à ressource
    <br/> responsive pas compressible à fond
    -->

    

    <script type="text/javascript">
        temp_var = true;
        $(function(){
            $("#search_product_form").on('keyup',function(){
                $("#search_product_result").show();
                if(temp_var){
                    $.ajax({
                        url: "/searchproduct/{{ topic_id }}",
                        success: function(result){
                            $("#search_product_result").html(result);
                        }
                    })
                }
                temp_var = false;
            });
        });

        $(function(){
            $(".highlightOnMouseOver").each(function(){
		$(this).mouseover(function(){
			$(this).css('opacity',1);
		})
		$(this).mouseout(function(){
			$(this).css('opacity',0.4);
		})
            });
        });

    </script>

{% endblock %}


<!--
	checklist:
	- pas de redondance de description meta
    - pas de lien <a> en hidden (referencement google)
	- titres en h1 h2
	- balises header, footer, nav, section(=grandes sections de la page), aside(=infos complementaires), article (https://openclassrooms.com/courses/apprenez-a-creer-votre-site-web-avec-html5-et-css3/structurer-sa-page)
	- pas de texte en dehors de balises
	- utilisation de balises spécifiques (https://openclassrooms.com/courses/apprenez-a-creer-votre-site-web-avec-html5-et-css3/memento-des-balises-html)
	- s'assurer que tous les <img> on un alt, même chaine de caractère vide si besoin
-->
