<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paletton</title>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'core/js/jquery/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/paletton/widget.js' %}"></script>
</head>
<body>
    <div id="result"></div>

    <script type="text/javascript">

        function callback(a){
            $("#result").html('Please keep this code:<br/>' + a.paletteUID + '<br/>It is the reference to the paletton you choose');
        }

        _paletton.open({
            templateURL:'http://localhost:8000',
            paletteUID:'7000u0kllllaFw0g0qFqFg0w0aF',
            colorizeMode: 'class',
            width: 1300,
            height:650,
        },callback)


/*

        e = '7000u0kllllaFw0g0qFqFg0w0aF'


        calc = function (e) {
        var t,
        n,
        i,
        s,
        o,
        u,
        a,
        f,
        l;
        if (!r.myB64.isValidString(e)) return !1;
        a = this,
        i = !1,
        s = 0,
        u = e.substring(s, s + 1),
        f = r.myB64.decodeInt(u, 1);
        if (f >= 10) i = !0,
        t = f - 10 + 2;
         else {
          //this.setModel(v(f));
          switch (f) {
            case 1:
              t = 1;
              break;
            case 2:
              t = 2;
              break;
            case 3:
            case 5:
              t = 3;
              break;
            default:
              t = 4
          }
        }
        s += 1,
        u = e.substring(s, s + 2),
        f = r.myB64.decodeInt(u, 2),

        //this.setHue(f),
        hue = f

        s += 2;
        if (i) {
          if (t === 2 || t === 4) u = e.substring(s, s + 2),
          f = r.myB64.decodeInt(u, 2),

          //this.hueCompl = f,
          hueCompl = f

          s += 2;
          t > 2 && (u = e.substring(s, s + 2), f = r.myB64.decodeInt(u, 2),

          //this.hueSec1 = f
          hueSecl = f

          , s += 2, u = e.substring(s, s + 2), f = r.myB64.decodeInt(u, 2),

          //this.hueSec2 = f
          hueSec2 = f

          , s += 2)
          //,this.setModelFree(t)
        } else u = e.substring(s, s + 2),
        f = r.myB64.decodeInt(u, 2),
        f < 5 && (f = 5),
        f > 175 && (f = 175),

        //this.setAngle(f),
        angle = f

        s += 2;
        return u = e.substring(s, s + 1),
        l = r.myB64.decodeFlags(u),

        //this.varsMultiOn = l[0],
        varsMultiOn = l[0]

        n = l[1],
        s += 1,
        o = function (t) {
          var n;
          return u = e.substring(s, s + 1),
          n = r.myB64.decodeInt(u, 1),
          s += 1,
          u = e.substring(s, s + n),
          t.setSerialized(u),
          s += n,
          t
        },
        this.varsMultiOn ? (o(this.varsMulti.pri), (t === 2 || t === 4) && o(this.varsMulti.compl), t > 2 && (o(this.varsMulti.sec1), o(this.varsMulti.sec2)), this.setVarsActive('pri'))  : o(this.vars),
        !0;

      }





      getBaseColorByHue: function (t) {
        var n,
        r,
        i,
        s;
        return t %= 360,
        n = u(t),
        r = n.f(t),
        s = n.g(n.a.hsv.v, n.b.hsv.v, r),
        i = n.g(n.a.hsv.s, n.b.hsv.s, r),
        new e(t, i, s)
      }

      _update = function () {
        var e;
        return e = function (e, t) {
          return t <= 1 ? e * t : e + (1 - e) * (t - 1)
        },
        this.hsv.set(this.baseHSV.h, e(this.baseHSV.s, this.kS), e(this.baseHSV.v, this.kV)),
        this.rgb = n.hsv2rgb(this.hsv)
      }

      _setHue = function (e) {
        return e = Math.round(r.angleNorm(e)),
        this.baseHSV = getBaseColorByHue(e)
      }

      setHue = function (e) {
        return this._setHue(e),
        this._update()
      }













      myB64 = {
        _key: '0123456789abcdefghijklmnopqrstuvwxyz-ABCDEFGHIJKLMNOPQRSTUVWXYZ+',
        _pad: '0000000000000000',
        encodeInt: function (e, t) {
          var n,
          r,
          i;
          r = '',
          i = e,
          e || (r = '0');
          while (i) n = i & 63,
          r = this._key.charAt(n) + r,
          i >>= 6;
          return t && (r = this._pad + r, r = r.substring(r.length - t)),
          r
        },
        decodeInt: function (e) {
          var t,
          n,
          r,
          i,
          s;
          r = 0;
          if (!e) return 0;
          for (n = i = 0, s = e.length - 1; 0 <= s ? i <= s : i >= s; n = 0 <= s ? ++i : --i) r <<= 6,
          t = this._key.indexOf(e.charAt(n)),
          r |= t;
          return r
        },
        encodeFloat: function (e, t) {
          var n;
          return t || (t = 1),
          n = Math.round((Math.pow(64, t) - 1) * e),
          this.encodeInt(n, t)
        },
        decodeFloat: function (e, t, n) {
          var r,
          i,
          s;
          return i = this.decodeInt(e),
          i ? (s = i / (Math.pow(64, t) - 1), n && (r = Math.pow(10, n), s = Math.round(s * r) / r), s)  : 0
        },
        encodeFlags: function (e) {
          var t,
          n,
          r,
          i;
          r = 0;
          for (t = i = 0; i <= 5; t = ++i) !e[t] || (n = 1 << t, r |= n);
          return this.encodeInt(r, 1)
        },
        decodeFlags: function (e) {
          var t,
          n,
          r,
          i,
          s;
          i = this.decodeInt(e),
          t = [
          ];
          for (n = s = 0; s <= 5; n = ++s) r = 1 << n,
          t.push(!!(i & r));
          return t
        },
        isValidString: function (e) {
          var t,
          n,
          r;
          for (n = 0, r = e.length; n < r; n++) {
            t = e[n];
            if (this._key.indexOf(t) === - 1) return !1
          }
          return !0
        }
      }

      r = {
      dec2hex: function (e, t) {
        var n;
        t || (t = 2),
        n = e.toString(16);
        while (n.length < t) n = '0' + n;
        return n.toUpperCase()
      },
      hex2dec: function (e) {
        return parseInt(e, 16)
      },
      hex2rgb: function (e) {
        var t,
        n,
        r;
        return e && e.match(/^\s*[0-9a-fA-F]{6}\s*$/) ? (r = this.hex2dec(e.substring(0, 2)), n = this.hex2dec(e.substring(2, 4)), t = this.hex2dec(e.substring(4, 6)), [
          r,
          n,
          t
        ])  : [
          0,
          0,
          0
        ]
      },
      intervalNorm: function (e, t, n) {
        return e < t ? t : e > n ? n : e
      },
      round: function (e, t) {
        var n;
        return n = Math.pow(10, t),
        Math.round(e * n) / n
      },
      rnd: function (e, t) {
        return e + Math.floor((t - e + 1) * Math.random())
      },
      rndSign: function () {
        return Math.random() < 0.5 ? 1 : - 1
      },
      rndBool: function () {
        return Math.random() < 0.5
      },
      angleNorm: function (e) {
        return e < 0 ? (e = - e, e %= 360, e = 360 - e)  : e %= 360,
        e
      },
      angleDiff: function (e, t) {
        var n,
        r;
        return n = this.angleNorm(e),
        r = this.angleNorm(t),
        r - n > 180 ? n += 360 : n - r > 180 && (r += 360),
        r - n
      },
      angleDiffRad: function (e, t) {
        var n,
        r;
        return n = this.rad2deg(e),
        r = this.rad2deg(t),
        this.deg2rad(this.angleDiff(n, r))
      },
      angleAdd: function (e, t) {
        var n;
        return n = e + t,
        this.angleNorm(n)
      },
      rad2deg: function (e) {
        return e * 180 / Math.PI
      },
      deg2rad: function (e) {
        return e * Math.PI / 180
      },
      xy2polar: function (e, t) {
        var n,
        r;
        return n = Math.sqrt(e * e + t * t),
        r = Math.atan2(t, e),
        r < 0 && (r += 2 * Math.PI),
        [
          n,
          r
        ]
      },
      polar2xy: function (e, t) {
        var n,
        r;
        return n = e * Math.cos(t),
        r = e * Math.sin(t),
        [
          n,
          r
        ]
      },
      normalizeCoords: function (e, t) {
        return [e[0] / t,
        e[1] / t]
      },
      unNormalizeCoords: function (e, t) {
        return [e[0] * t,
        e[1] * t]
      },
      objMerge: function (e, t) {
        return o(e, t)
      },
      objCopy: function (e) {
        return e === null ? null : n(e) ? e.slice()  : s(e)
      },
      myB64: myB64,
      sendRequest: function (e, t, n, r) {
        var i,
        s,
        o,
        u;
        s = $('<form>', {
          action: e,
          method: t
        }),
        r && s.attr('target', r),
        $('body').append(s);
        for (o in n) u = n[o],
        i = $('<INPUT>', {
          type: 'hidden',
          name: o
        }),
        i.val(u),
        s.append(i);
        return s.submit(),
        s.remove()
      },
      colorTooltip: function (e) {
        return e.tooltip({
          position: {
            my: 'left+5 top+5',
            at: 'left bottom'
          },
          track: !0,
          show: {
            effect: 'fadeIn',
            delay: 0
          },
          hide: {
            effect: 'fadeOut',
            delay: 0
          },
          content: function () {
            return '<p>' + $(this).attr('title') + '</p><p class="info">Click for more info</p>'
          }
        })
      }
    }

      console.log(calc("7000u0kllllaFw0g0qFqFg0w0aF"))

*/

    </script>

</body>
</html>