{% load static %}
        <!-- todo:mettre en liste-->
        {% for consprod in consumeaproduct %}
        {% with prod=consprod.product %}
        <div class="habitImpact">

            <div class="habitTitle">
                <span class="productName">
                    <!--<a href="#">     ENLEVE CAR LIEN CACHE PAS BON PR GOOGLE-->
                        <i class="icon-chevron_right"></i>
                    <!--</a>-->
                    {{ prod.name }}</span>
            </div>


            <div class="alternativeToMainImpact">
                {% for hasImpactOn in consprod.has_impact_on.all %}

                <div class="flexContainer" style="margin-bottom: 20px">
                    {% if hasImpactOn.impact_type == 'Neg' %}
                    <div class="logoAlternative thumb"><img class="logoPlusOrMinusImage" src="{% static 'maquette/icons/custom/hand_thumbdown.svg' %}"></img></div>
                    {% elif  hasImpactOn.impact_type == 'Pos' %}
                    <div class="logoAlternative thumb"><img class="logoPlusOrMinusImage" src="{% static 'maquette/icons/custom/hand_thumb.svg' %}"></img></div>
                    {% else %}
                    <div class="logoAlternative thumb"><img class="logoPlusOrMinusImage" src="{% static 'maquette/icons/custom/hand_thumb.svg' %}"></img></div>
                    {% endif %}

                    <div class="alternativeToMainImpactContent flexBoxMaxWidth">

                        {% include 'sources_and_alternatives.html' with title=1 hasImpactOn=hasImpactOn name=hasImpactOn.impactCateg.name label='__?'  entity_alt="alternative" entity_imp="hasimpacton" prod=prod only %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <!--<a href="/rest/hasimpacton" alt="" style="font-size:0.8em">(Ajouter un impact)</a>-->


        </div>
        {% endwith %}
        {% endfor %}
