{% extends 'core_forms/constructform/constructForm.html' %}

{% block content %}
<div id='{{ formId }}_div' class='nestedBox formBox'>

            <form id='{{ formId }}_radioboxes'>
                {% for b in boxList %}
                    <INPUT type="radio" name="{{ formId }}_radiogroup" value="{{ b.id }}" {% if b.checked %}checked{% endif %}>{{ b.label }}<br/>
                {% endfor %}
            </form>

            <div id='{{ formId }}_content'>

                {% for form in forms %}
                    {% autoescape off %}
                        {{ form.html }}
                    {% endautoescape %}
                {% endfor %}

            </div>

            <script type="text/javascript">
                $('input[name={{ formId }}_radiogroup]:radio').click(
                    function() {
                        showFormContent(this, '{{ groupId }}', formTreePtrs);
                    }
                );
            </script>
</div>
{% endblock %}

