{% extends 'core_forms/modelforms/modifiable/defaultForm.html' %}

{% block formContent %}

    {% load staticfiles %} <!--todo: a mettre ailleurs où il ne sera chargé qu'une fois-->
    <link href="{% static 'core/css/style2.css' %}" rel="stylesheet" type="text/css">
    <style type="text/css">

        .formBox {
            color: black;
            padding:5px;
            border:solid 3px purple;
            border-radius: 5px;
        }
        .formBox label{
            color: inherit;
            font-size: 1.1em;
            opacity: 1;
            padding: 0;
            margin: 15px;
        }
        .nestedBox {
            margin-left: 70px;
        }
        .sources {
            border: 1px solid grey;
            border-radius: 0px;
            padding: inherit;
            margin: 5px;
            color: grey;
            background-color: rgba(100,100,100,0.2)
        }
        .sources label {
            font-style: italic
        }
        .sources .explanation {

        }

    </style>

!!! unmodifiable!!

        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.to_behaviour.errors }}
            <label for="{{ form.to_behaviour.id_for_label }}">Cet alternative est:</label>
            {{ form.to_behaviour }}
        </div>
        <div class="fieldWrapper">
            {{ form.from_behaviours.errors }}
            <label for="{{ form.from_behaviours.id_for_label }}">est une alternative à</label>
            {{ form.from_behaviours }}
        </div>
        <div class="fieldWrapper">
            {{ form.topics.errors }}
            <label for="{{ form.topics.id_for_label }}">Topics:</label>
            {{ form.topics }}
        </div>


        <!--<div class="sources">
            {{ form.sources.errors }}
            <label for="{{ form.sources.id_for_label }}">Sources:</label>
            {{ form.sources }}
            <span class="explanation">(sources explicitant en quoi ce comportement constitue une réelle alternative)</span>

        </div>-->



{% endblock %}