

    <script src="{{ STATIC_URL }}core_forms/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}core_forms/js/modelform.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}core_forms/js/livesearch.js" type="text/javascript"></script>

    <script type="text/javascript">
        var rootForm = false; //useful?
        if(allFormsConf==undefined){
            var allFormsConf={},
                formTree = [], formTreePtrs = {},
                rootForm = true;
            $('head').append($('<style type="text/css">.isUneditable{background-color:grey}</style>'));
        }
        allFormsConf['{{ formId }}'] = {{ conf }};

        if(ls==undefined){ //TODO: renommer ls
            var ls={};
        }

        $(document).ready(function() {
            if(rootForm){           // todo: deplacer dans le fichier form.js
                $('#submit_{{ formId }}').show(); // todo: faire ça avec une variable de template pkutot qu'en js!!!
                var ind = formTree.push({
                    form : $('#{{ formId }}'),
                    form_id : {{ formId }},
                    children : [],
                    status : "being_edited",
                    is_visible : false
                });
                //formTreePtr = formTree[0].children;
                formTreePtrs['{{formId}}'] = formTree[ind -1].children;
                console.log(formTreePtrs);


            };
            applyFormConfiguration(
                '{{  formId   }}',
                '{{ formName }}',
                "{% url 'core_forms.views.model_post_form' '' %}",
                "{% url 'core_forms.views.process_livesearch_resultdiv' formId %}"
            );
        });
    </script>
    <!--<script src="{{ STATIC_URL }}core/js/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>-->


    <!--<form id="form1" action=" url 'core_formws.model_post_form' modelName " method="post">-->
    <form id="{{ formId }}" action="DanTonKu" method="post" class="formBox" style="{% if doNotDisplay %}display:none{% endif %}">
        <input type="hidden" name="_page_loaded_at" id="{{ formId }}_page_loaded_at" value="{{pageLoadedAt}}">
        {% csrf_token %}
!!!!!! unmidifiable!!!!!
        {% block formContent %}
        {{ form.as_p }}
        {% endblock %}

        <!--<div style="border:1px solid black; display:inline-block">trucmuche</div>-->

        <!--input type="hidden" id="{{ formId }}_was_originally_empty" value="{{returnEmptyForm}}" {% if not returnEmptyForm %}objectId="{{objectId}}"{% endif %}>
        -->
        <input id="submit_{{ formId }}" style="display:none" type="submit" value="Submit" />
    </form>






{% comment %}

    <link rel="stylesheet" href="{{ STATIC_URL }}core_forms/css/fontello.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}core_forms/css/animation.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{ STATIC_URL }}core_forms/css/fontello-ie7.css">
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core_forms/css/style.css">

{% endcomment %}

