

    <!--<form id="form1" action=" url 'core_formws.model_post_form' modelName " method="post">-->
    <form id="{{ formId }}" action="DanTonKu" method="post" class="formBox" style="{% if doNotDisplay %}display:none{% endif %}">
        <input type="hidden" name="_page_loaded_at" id="{{ formId }}_page_loaded_at" value="{{pageLoadedAt}}">
        {% csrf_token %}
!!!!!! unmidifiable!!!!!
        recomparer avec /modifiable/defaultForm pour ts les imports et le code js
        {% block formContent %}
        {{ form.as_p }}
        {% endblock %}

        <!--<div style="border:1px solid black; display:inline-block">trucmuche</div>-->

        <!--input type="hidden" id="{{ formId }}_was_originally_empty" value="{{returnEmptyForm}}" {% if not returnEmptyForm %}objectId="{{objectId}}"{% endif %}>
        -->
        <input id="submit_{{ formId }}" style="display:none" type="submit" value="Submit" />
    </form>

